<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class = "titulo">Contacto</h1>
  <br>
<p class = titulo2>Para más información contacta con nosotros a través de:</p>

<ul class="contact-elements">
  <li type="square"><i class="fa fa-solid fa-phone"></i> &nbsp; 957 34 56 78</li>
  <li type="square"><i class="fa fa-solid fa-envelope"></i> &nbsp; <a href="mailto:ImagineDragons@gmail.com">ImagineDragons@gmail.com</a></li>
</ul>

<br>
    <p class = titulo2>Regístrate:</p>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              <br>
              Acepto las condiciones
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Acceder</button>
        </div>
      </form>
</body>
</html>

